
.app {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.list-item {
    cursor: pointer;
    width: 390px;  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.list-container  h3 {
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-container .list-item li {
    position: relative;
    background: #fff;
    float: left;
    margin-bottom: 15px;
}

.list-container li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition: transform 0.5s;
}

.list-container  li:hover {
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
    opacity: 1;
}

.list-container li span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #25bcff;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 500;
    transform: translateY(-2px);
}

.list-container li:hover span {
    background: #fff;
    color: #25bcff;
}

.list-container .list-item li .deleteButton {
    float: right;
    border: 0;
    color: red;
    background: none;
}


.form-control-fecha {
  margin-left: 12px;
  width: 94%;
}

@media only screen and (max-width: 640px) {

  .form-control-fecha {
      margin-left: 12px;
      width: 94%;
  }
  
  .list-container .list-item li {
      position: relative;
      background: #fff;
      float: left;
      margin-bottom: 15px;
  }

  .list-container li {
      list-style: none;
      padding: 10px;
      width: 68%;
      background: #fff;
      box-shadow: 0 5px 25px rgba(0,0,0,.1);
      transition: transform 0.5s;
  }

}


.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
opacity: 0;
visibility: hidden;
}

.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from { transform: rotate(0turn) }
  to { transform: rotate(1turn) }
}