@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #1f4835;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --CEV-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #F00;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  /* background-image: url('./img/background.jpg');  */
  background-image: url('./img/back2.jpg'); 
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public__main,
.login,
.register {
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1em 0;
}

.public__addr {
  margin-top: 1em;
}

.welcome a::before {
  content: "➜ "
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dashHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dashHeaderContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dashHeaderContainer--small {
  /* max-width: 800px; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dashHeaderNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.dashContainer {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dashFooter {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}

.dashFooterButton {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.tableButton {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.tableThead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.tableTh,
.tableCell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.tableCell:last-child {
  display: grid;
  place-content: center;
}

.tableCell--inactive {
  background-color: var(--INACTIVE);
}

/* ||  CEV */

.cevCreated, 
.companyCreated,
.cevUpdated,
.companyUpdated,
.cevUsername,
.companyUsername{
  display: none;
}

.cevStatus,
.companyStatus {
  font-weight: bold;
}

.cevStatusOpen,
.companyStatusOpen {
  color: var(--STATUS-OPEN);
}

.cevStatusCompleted,
.companyStatusCompleted {
  color: var(--STATUS-COMPLETE);
}

/* ||  Company 

.companyCreated,
.companyUpdated,
.companyUsername {
  display: none;
}

.companyStatus {
  font-weight: bold;
}

.companyStatusOpen {
  color: var(--STATUS-OPEN);
}

.companyStatusCompleted {
  color: var(--STATUS-COMPLETE);
}
*/

/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
}

.formCheckboxContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.formPersist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.formTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formInput,
.formSubmitButton {
  padding: 0.3em;
  border-radius: 15px;
  max-width: 80%;
}

.formInput--text {
  min-height: 150px;
}

.formInput--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.formCheckbox {
  width: 24px;
  height: 24px;
}

.formSelect {
  padding: 0.3em;
  border-radius: 15px;
  max-width: 80%;
}

.formActionButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.formRow {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.formDivider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  .dashHeaderNav {
    gap: 0;
  }

  .icon-button {
    font-size: 1.5rem;
  }
}


@media screen and (min-width: 768px) {

  body {
    font-size: 1.25rem;
  }

  .dashHeader {
    padding: 0 1em;
  }

  .dashContainer {
    padding: 1em;
  }

  .table {
    font-size: 1.5rem;
  }

  .tableCevs {
    grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
  }

  .cevCreated,
  .cevUpdated,
  .cevUsername {
    display: block
  }

  .tableCompanys {
    grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
  }

  .companyCreated,
  .companyUpdated,
  .companyUsername {
    display: block
  }

  .formActionButtons {
    position: static;
  }
}